body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}


nav ul li {
  display: inline-block;
  margin-right: 20px;
  
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #ad6f19;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #9d2e2e;
  color: #fff;
}

.routes-container {
  margin-top: 20px;
}
